@layer components {
  .d3-secondary-nav {
    background-image: linear-gradient(
      to right,
      theme(colors.greyscale.grey),
      theme(colors.greyscale.grey) 50%,
      transparent 50%
    );

    &__container {
      display: flex;
      overflow-x: auto;

      &::after {
        content: '';
        flex: 0 1 theme(spacing.10);
        background-color: theme(colors.greyscale.grey);
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%);

        @media screen(lg) {
          flex-basis: theme(spacing.40);
        }
      }
    }

    &__menu {
      display: flex;
      gap: theme(spacing.4);
      flex: 0 0 50%;
      min-width: min-content;
      padding-right: theme(spacing.4);
      background-color: theme(colors.greyscale.grey);

      @media screen(lg) {
        gap: theme(spacing.6);
      }
    }
  }
}
