@layer components {
  .d3-section {
    display: flex;
    flex-direction: column;
    gap: theme(spacing.6);
    padding: theme(spacing.6) 0;
    position: relative; /*to stay above background */

    @media screen(lg) {
      gap: theme(spacing.10);
      padding: theme(spacing.10) 0;
    }

    &:where(.-full-width) {
      &:where(:first-child) {
        padding-top: 0;
      }
      &:where(:last-child) {
        padding-bottom: 0;
      }
    }
    &__header {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: theme(spacing.4);
      position: relative; /* to stay above gradient */

      @media screen(lg) {
        flex-direction: row;
        align-items: center;
        justify-content: initial;
      }
    }

    &__header-info {
      display: flex;
      flex-direction: column;
      gap: theme(spacing.2);
    }

    &__sponsor {
      display: flex;
      flex-direction: column;
      gap: theme(spacing.1);

      @media screen(lg) {
        margin-left: auto;
        flex-direction: row;
      }
    }

    &__sponsor-logo {
      max-width: 200px;
      max-height: 80px;
      width: auto;
      height: auto;
      margin: auto;
    }
  }
}
