**/docs/
docs
**/wwwroot/
**/addon_modules/
**/node_modules/
**/bin/
**/obj/
**/out/
**/nupkg/
.vs
*.Dockerfile
/tests/**/coverage
/src/**/coverage
TestResults
e2e
k8s
azure-pipelines*.yml
pull_request_template.md
renovate.json
sonarqube-create-project-guids.ps1
.editorconfig
.vscode
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
**/dist/
**/.angular/
**/TestResults
**/appsettings.Development.json
**/localhost.crt
**/localhost.key
**/NuGet.Config
test-report.xml
.yarn
.yarnrc.yml