/*
// ============================================
// COLORS
// from palette in Figma
// ============================================

// --------------------------------------------
// NAMED COLORS
// https://css-tricks.com/what-do-you-name-color-variables/
// (do not use them inside styles, use semantic colors instead)
// -------------------------------------------- */
@layer base {
  :root,
  ::backdrop {
    --color-component_layout_footer_text_light: var(--color-black);
    --color-component_layout_footer_text_dark: var(--color-white);
    --color-component_layout_footer_background_light: var(--color-white);
    --color-component_layout_footer_background_dark: var(--color-black);
    --color-component_layout_footer_border_light: var(--color-black);
    --color-component_layout_footer_border_dark: var(--color-white);
    --color-component_layout_footer_social_icon_light: var(--color-grey-500);
    --color-component_layout_footer_social_icon_dark: var(--color-grey-100);
    --color-component_layout_footer_social_icon_hover: var(--color-primary-500);
    --color-component_layout_footer_copyright_light: var(--color-grey-500);
    --color-component_layout_footer_copyright_dark: var(--color-grey-100);
  }
}
