@tailwind base;
@tailwind components;
@tailwind utilities;

/* Delete if you remove simplecss */
@layer base {
  h1 {
    @apply text-5xl font-bold;
    margin-bottom: 2rem;
  }

  h2 {
    @apply text-4xl;
    margin-bottom: 2rem;
  }

  h3 {
    @apply text-3xl;
    margin-bottom: 2rem;
  }

  h4 {
    @apply text-2xl;
    margin-bottom: 2rem;
  }

  h5 {
    @apply text-xl;
    margin-bottom: 2rem;
  }

  h6 {
    @apply text-lg;
    margin-bottom: 2rem;
  }

  ul {
    @apply list-disc list-outside;
    margin-bottom: 1rem;
  }

  ol {
    @apply list-decimal list-outside;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

@import url('./simple.min.css');
:root,
::backdrop {
  --sans-font: var(--font-poppins);
  --standard-border-radius: 0px;
  --border: rgba(0, 0, 0, 0);
  --accent: #ee3123;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ee3123;
}

a,
a:visited {
  color: unset;
}

[role='button'] {
  background-color: unset;
}

/* end simplecss customization */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  overflow-y: scroll;
} /* avoid layout shift when hiding scrollbar*/
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  display: block;
}

a[href$='\#nolink'] {
  cursor: default;
  pointer-events: none;
}
