/*
// ============================================
// COLORS
// from palette in Figma
// ============================================

// --------------------------------------------
// NAMED COLORS
// https://css-tricks.com/what-do-you-name-color-variables/
// (do not use them inside styles, use semantic colors instead)
// -------------------------------------------- */
@layer base {
  :root,
  ::backdrop {
    --color-white: #fff;
    --color-black: #000;
    --color-red: #f61b1b;
  }
}
