.d3-carousel {
  max-width: 2048px;

  &:where(.-overflow-right) {
    overflow: visible;
    /* overflow hidden on left side only - https://stackoverflow.com/a/47873463/1498848 */
    clip-path: inset(-100vw -100vw -100vw 0);
  }

  &__navigation {
    display: flex;
    padding-top: theme(spacing.2);

    /* provide space between arrows ad page boundary on mobile when the carousel is full page width */
    width: min(100%, calc(100vw - theme(spacing.8)));
    margin: 0 auto;

    @media screen(md) {
      width: min(100%, calc(100vw - theme(spacing.12)));
    }

    @media screen(lg) {
      display: content;
      padding-top: 0;
    }
  }

  &__navbutton {
    &.swiper-button-disabled {
      opacity: 0.25;
    }
  }

  &__pagination {
    --swiper-pagination-color: theme(colors.white);
    --swiper-pagination-bullet-width: theme(spacing.10);
    --swiper-pagination-bullet-height: theme(spacing.1);
    --swiper-pagination-bullet-inactive-color: theme(colors.grey-100);
    --swiper-pagination-bullet-inactive-opacity: 1;

    .swiper-pagination-bullet {
      border-radius: 0;
    }
  }
}
